{% extends 'layouts/base.html.twig' %}

{% block title %}
	Sorties
{% endblock %}

{% block body %}
	<div class="container-custom">
		<div class="mb-8 ml-3 lg:max-w-5xl">
			<div class="mb-6 text-3xl font-semibold text-red-600 font-montserrat">
				Filtrer les sorties
			</div>

			{{ form_start(form) }}
			<div>
				{{ form_errors(form) }}
			</div>
			<div class="lg:grid lg:grid-cols-2">
				<div class="col-span-1 space-y-4">
					<div class="max-w-xs">
						{{ form_row(form.site) }}
					</div>
					<div class="max-w-xs">
						{{ form_row(form.search) }}
					</div>
					<div>
						<div class="label">
							Interval de temps
						</div>
						<div class="flex max-w-md mt-4 space-x-4">
							<div>
								{{ form_row(form.begin_date) }}
							</div>
							<div>
								{{ form_row(form.end_date) }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-span-1 mt-5 lg:mt-0">
					<fieldset>
						<legend class="text-base font-medium text-gray-900">Options</legend>
						<div class="mt-4 space-y-4">
							<div class="flex items-start">
								<div class="flex items-center h-5">
									{{ form_widget(form.self_organisor) }}
								</div>
								<div class="ml-3 text-sm">
									{{ form_label(form.self_organisor) }}
								</div>
							</div>
							<div class="flex items-start">
								<div class="flex items-center h-5">
									{{ form_widget(form.self_subscription) }}
								</div>
								<div class="ml-3 text-sm">
									{{ form_label(form.self_subscription) }}
								</div>
							</div>
							<div class="flex items-start">
								<div class="flex items-center h-5">
									{{ form_widget(form.self_unsubscription) }}
								</div>
								<div class="ml-3 text-sm">
									{{ form_label(form.self_unsubscription) }}
								</div>
							</div>
							<div class="flex items-start">
								<div class="flex items-center h-5">
									{{ form_widget(form.end_trips) }}
								</div>
								<div class="ml-3 text-sm">
									{{ form_label(form.end_trips) }}
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="pt-5">
					<div class="flex justify-start">
						<button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
							Rechercher
						</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
		<div class="">
			<div class="flex flex-col">
				<div class="-my-2 overflow-y-auto sm:-mx-6 lg:-mx-8" style="max-height: 660px">
					<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
						<div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
							<table class="min-w-full divide-y divide-gray-200">
								<thead class="bg-gray-50">
									<tr>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											Nom de la sortie
										</th>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											Date de la sortie
										</th>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											Clôture
										</th>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											inscrits/places
										</th>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											Etat
										</th>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											Inscrit
										</th>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											Organisateur
										</th>
										<th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
											Actions
										</th>
									</tr>
								</thead>
								<tbody>
									{% for trip in trips %}
										{% set isOrganisor = false %}
										{% for item in app.user.trips %}
											{% if trip.id == item.id %}
												{% set isOrganisor = true %}
											{% endif %}
										{% endfor %}
										{% set subscribe = false %}
										{% for item in app.user.subscriptions %}
											{% if trip.id == item.id %}
												{% set subscribe = true %}
											{% endif %}
										{% endfor %}
										<tr class="{{ loop.index % 2 == 0 ? 'bg-white' : 'bg-gray-50' }}">
											<td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">
												{{ trip.name }}
											</td>
											<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
												{{ trip.beginDate|date("d/m/Y") }}
											</td>
											<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
												{{ trip.endDate|date("d/m/Y") }}
											</td>
											<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
												{{ trip.subscriptions.count }}/{{ trip.maxSubscriptions }}
											</td>
											<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
												{{ trip.state }}
											</td>
											<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
												{% if subscribe %}
													X
												{% endif %}
											</td>
											<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
												{{ trip.organisor.username }}

											</td>
											<td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
												{% if trip.state_raw != 'ENDED' and trip.state_raw != 'CANCELED' %}
													<a href="{{ path('trip_show', { id: trip.id }) }}" class="text-red-600 hover:text-red-900">
														Afficher
													</a>
												{% endif %}
												{% if subscribe %}
													<a href="{{ path('unsubscribeTrip', {id: app.user.id, id_trip: trip.id}) }}" class="text-red-600 hover:text-red-900">
														Se désister
													</a>
												{% else %}
													<a href="{{ path('registerTrip', {id: app.user.id, id_trip: trip.id})
                                                    }}" class="text-red-600 hover:text-red-900">
														S'inscrire
													</a>
												{% endif %}
												{% if isOrganisor %}
													<a href="{{ path('trip_edit', { id: trip.id }) }}" class="text-red-600 hover:text-red-900">
														Modifier
													</a>
													<a href="#" class="text-red-600 hover:text-red-900">
														Annuler
													</a>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pt-10">
			<div class="flex justify-start">
				<a href="{{ path('newTrip') }}" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
					Créer une sortie
				</a>
			</div>
		</div>
	</div>
{% endblock %}
