{% extends 'layouts/base.html.twig' %}

{% block title %}
	Profil
{% endblock %}

{% block body %}
	<div class="px-2 pt-16 mx-auto max-w-7xl sm:px-6 lg:px-8">

		<div class="space-y-8 divide-y divide-gray-200">
			<div class="space-y-8 divide-y divide-gray-200 lg:gap-10 lg:grid lg:grid-cols-2 lg:space-y-0 lg:divide-y-0">
				{{ form_start(form_user) }}
				<div>
					{{ form_errors(form_user) }}
				</div>
				<div class="col-span-1 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
					<div>
						<h3 class="text-lg font-medium leading-6 text-gray-900">
							Informations
						</h3>
						<p class="max-w-2xl mt-1 text-sm text-gray-500">
							Vous pouvez mettre à jour vos informations.
						</p>
					</div>
					<div class="space-y-6 sm:space-y-5">
						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.username) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.username) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							<label for="cover_photo" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
								{{ form_label(form_user.photoUrl) }}
								{{ form_errors(form_user.photoUrl) }}
							</label>
							<label class="flex flex-col items-center w-64 px-4 py-6 tracking-wide uppercase transition-colors duration-100 bg-white border rounded-lg shadow cursor-pointer hover:bg-red-200">
								<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
									<path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"/>
								</svg>
								<span class="mt-2 text-base leading-normal">Select a file</span>
								{{ form_widget(form_user.photoUrl) }}
								<p class="text-xs text-gray-500">
									PNG, JPG up to 2MB
								</p>
							</label>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.firstname) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.firstname) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.lastname) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.lastname) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.email) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.email) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.phone) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.phone) }}
							</div>
						</div>
					</div>
					<div class="pt-5">
						<div class="flex justify-end">
							<button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
								Valider informations
							</button>
						</div>
					</div>
				</div>
				{{ form_end(form_user) }}
				{{ form_start(form_password) }}
				<div>
					{{ form_errors(form_password) }}
				</div>
				<div class="relative h-full col-span-1 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
					<div>
						<h3 class="text-lg font-medium leading-6 text-gray-900">
							Changement de mot de passe
						</h3>
						<p class="max-w-2xl mt-1 text-sm text-gray-500">
							Vous pouvez changer votre mot de passe.
						</p>
					</div>
					<div class="space-y-6 sm:space-y-5">
						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_password.current_password) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_password.current_password) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_password.new_password) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_password.new_password) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_password.new_confirm_password) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_password.new_confirm_password) }}
							</div>
						</div>
					</div>
					<div class="pt-5 lg:absolute lg:bottom-0 lg:right-0">
						<div class="flex justify-end">
							<button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
								Valider le mot de passe
							</button>
						</div>
					</div>
				</div>
				{{ form_end(form_password) }}
			</div>
		</div>

	</div>
{% endblock %}
