{% extends 'layouts/base.html.twig' %}

{% block title %}
	Profil
{% endblock %}

{% block body %}
	<div class="px-2 pt-16 mx-auto max-w-7xl sm:px-6 lg:px-8">

		<div class="space-y-8 divide-y divide-gray-200">
			<div class="space-y-8 divide-y divide-gray-200 lg:gap-10 lg:grid lg:grid-cols-2 lg:space-y-0 lg:divide-y-0">
				{{ form_start(form_user) }}
				<div>
					{{ form_errors(form_user) }}
				</div>
				<div class="col-span-1 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
					<div>
						<h3 class="text-lg font-medium leading-6 text-gray-900">
							Informations
						</h3>
						<p class="max-w-2xl mt-1 text-sm text-gray-500">
							Vous pouvez mettre à jour vos informations.
						</p>
					</div>
					<div class="space-y-6 sm:space-y-5">
						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.username) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.username) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
							<label for="photo" class="block text-sm font-medium text-gray-700">
								Photo (TODO)
							</label>
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								<div class="flex items-center">
									<span class="w-12 h-12 overflow-hidden bg-gray-100 rounded-full">
										<svg class="w-full h-full text-gray-300" fill="currentColor" viewbox="0 0 24 24">
											<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
										</svg>
									</span>
									<button type="button" class="px-3 py-2 ml-5 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
										Change
									</button>
								</div>
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.firstname) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.firstname) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.lastname) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.lastname) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.email) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.email) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_user.phone) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_user.phone) }}
							</div>
						</div>
					</div>
					<div class="pt-5">
						<div class="flex justify-end">
							<button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
								Valider informations
							</button>
						</div>
					</div>
				</div>
				{{ form_end(form_user) }}
				{{ form_start(form_password) }}
				<div>
					{{ form_errors(form_password) }}
				</div>
				<div class="relative h-full col-span-1 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
					<div>
						<h3 class="text-lg font-medium leading-6 text-gray-900">
							Changement de mot de passe
						</h3>
						<p class="max-w-2xl mt-1 text-sm text-gray-500">
							Vous pouvez changer votre mot de passe.
						</p>
					</div>
					<div class="space-y-6 sm:space-y-5">
						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_password.current_password) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_password.current_password) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_password.new_password) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_password.new_password) }}
							</div>
						</div>

						<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
							{{ form_label(form_password.new_confirm_password) }}
							<div class="mt-1 sm:mt-0 sm:col-span-2">
								{{ form_widget(form_password.new_confirm_password) }}
							</div>
						</div>
					</div>
					<div class="pt-5 lg:absolute lg:bottom-0 lg:right-0">
						<div class="flex justify-end">
							<button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
								Valider le mot de passe
							</button>
						</div>
					</div>
				</div>
				{{ form_end(form_password) }}
			</div>
		</div>

	</div>
{% endblock %}
