{% extends 'layouts/admin.html.twig' %}

{% block title %}
	Sites
{% endblock %}

{% block body %}
	<div class="min-h-screen px-2 mx-auto mb-8 pt-36 max-w-8xl sm:px-6 lg:px-8">
		<div class="max-w-xl">
			{{ form_start(form) }}
			<div>
				{{ form_errors(form) }}
			</div>
			<div class="space-y-8 divide-y divide-gray-200">
				<div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
					<div>
						<div class="mb-5">
							<h3 class="text-lg font-medium text-red-600 font-montserratleading-6">
								Créer
							</h3>
							<p class="max-w-2xl mt-1 text-sm text-gray-500">
								Un nouveau site
							</p>
						</div>
						<div class="space-y-6 sm:space-y-5">
							<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
								<label for="last_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
									{{ form_label(form.name) }}
								</label>
								<div class="mt-1 sm:mt-0 sm:col-span-2">
									{{ form_widget(form.name) }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="pt-5">
					<div class="flex justify-end">
						<button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
							Valider
						</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
